:root {
  --primary-teal: #1e293b;
  --text-dark: #222;
  --text-light: #555;
  --bg-light: #f3f4f6;
  --white: #ffffff;

  --card-red: #a83232;
  --card-purple: #7e76c2;
  --card-green: #6da363;
  --card-pink: #c276b4;
  --card-orange: #d49a53;
  --card-blue: #5facd6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mali", sans-serif;
  color: var(--text-dark);
  overflow-x: hidden;

  background-color: var(--bg-light);
  background-image: radial-gradient(#d1d5db 1px, transparent 1px);
  background-size: 20px 20px;
  font-weight: 500;
}

h1,
h2,
h3 {
  font-family: "Patrick Hand", cursive;
  letter-spacing: 1px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  background-color: transparent;
}

.fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
  opacity: 0;
  transform: translateY(30px);
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.4s;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hero-section {
  position: relative;
  padding: 100px 50px 100px 50px;
  display: flex;
  gap: 60px;
  align-items: center;
  z-index: 1;
  background: var(--primary-teal);
  width: 100%;
}

.hero-image-container {
  width: 400px;
  height: 400px;

  flex-shrink: 0;

  border-radius: 50%;

  position: relative;
  overflow: hidden;
  border: 5px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

  animation: float 6s ease-in-out infinite;
}

.hero-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);

  color: var(--white);
  margin-bottom: 10px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.hero-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary-teal);
}

.hero-content h2,
.hero-content p {
  color: var(--white);
}

.hero-content p {
  opacity: 0.9;
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 30px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  font-size: 1.8rem;
  color: var(--white);
  transition: all 0.3s ease;
}

.social-icons a:hover {
  transform: translateY(-3px) rotate(10deg);
}

.work-section {
  padding: 80px 50px;

  background: transparent;
}

.work-section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--primary-teal);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.project-card {
  background: var(--white);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.4s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-image-placeholder {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;

  &.one {
    background: url(./images/battleship_screenshot.png);
  }

  &.two {
    background: url(./images/tic-tac-toe_screenshot.png);
  }

  &.three {
    background: url(./images/calculator_screenshot.png);
  }
  &.four {
    background: url(./images/weather_screenshot.png);
  }
  &.five {
    background: url(./images/my-library_screenshot.png);
  }
  &.six {
    background: url(./images/to-do_screenshot.png);
  }
  &.seven {
    background: url(./images/rps_screenshot.png);
  }
  &.one,
  &.two,
  &.three,
  &.four,
  &.five,
  &.six,
  &.seven {
    background-size: cover;
    background-position: center;
  }
}

.card-content {
  padding: 25px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.card-links a {
  color: var(--text-dark);
  margin-left: 10px;
  transition: color 0.3s;
}

.contact-section {
  background-color: var(--primary-teal);
  color: var(--white);
  display: flex;
  position: relative;
  z-index: 2;
}

.contact-info {
  flex: 1;
  padding: 80px 50px;
}

.contact-info h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: white;
}
.contact-details div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.05rem;
}
.contact-details i {
  margin-right: 15px;
  font-size: 1.2rem;
}

.contact-image-container {
  flex: 1;
  min-height: 400px;
  overflow: hidden;
}
.contact-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: panImage 10s infinite alternate ease-in-out;
}
@keyframes panImage {
  from {
    transform: scale(1.1) translateX(-10px);
  }
  to {
    transform: scale(1.1) translateX(10px);
  }
}

@media (max-width: 900px) {
  .hero-section {
    flex-direction: column;
    padding: 100px 30px 50px 30px;
    text-align: center;
  }

  .header-wave {
    height: 3500px;
  }

  .hero-image-container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }
  .social-icons {
    justify-content: center;
  }
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-section {
    flex-direction: column;
  }
  .contact-image-container {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .hero-image-container {
    width: 250px;
    height: 250px;
  }

  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content h2 {
    font-size: 1.5rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .work-section,
  .contact-info {
    padding: 60px 20px;
  }
}
